@import '~bootstrap';
@import '_variable';
@import '_fonts';



.header {
  background-color: $mainbgColor;
  text-align: center;
  padding: 30px;
  color: $blubgFont;
  h1 {
    font-family: 'Monoton', cursive;
    font-weight: 100;
    margin-top: 60px;
  }
}
.menu {
  background-color: $navbar;
  padding: 10px;
  border-radius: 15px;
  position: fixed;
  width: 93%;
    a {
      color: $blubgFont;
      text-decoration: none;
      margin: 10px;
    }
}

.main {

  h1 {
    color: $bodyHeading;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  p {
    padding: 50px;
  }
}

