// fonts from google fonts
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');




body {
  background-color: #000;

}
.header {
  background-color: #0e56c2;
  text-align: center;
  padding: 30px;
  color: #fff;
  h1 {
    font-family: 'Monoton', cursive;
    font-weight: 100;
  }
}
.menu {
  background-color: #70a2ec;
  padding: 10px;
  border-radius: 15px;
  position: sticky;
    a {
      color: #fff;
      text-decoration: none;
      margin: 10px;
    }
}

