body {
  background-color: #000;

}
.header {
  background-color: #0e56c2;
  text-align: center;
  padding: 30px;
  color: #fff;
}
.menu {
  background-color: #70a2ec;
  padding: 10px;
  border-radius: 15px;

}
.menu a {
  color: #fff;
  text-decoration: none;
  margin: 10px;


}